* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', 'Times New Roman', Times, serif;
}
.card {
    width: 50%;
}
.header {
    display: flex;
    justify-content: space-between;
    padding: 2rem 15rem;
    background-color: hsla(215, 28%, 17%, 0.992);
    color: whitesmoke;
    align-items: center;
}
.header-logo {
    font-weight: 900;
    font-size: 2rem;
    letter-spacing: -0.2rem;
}
.header-links, ul {
    display: flex;
    list-style: none;
    gap: 2rem;
    letter-spacing: .1rem;
}
.header a {
    text-decoration: none;
    color: whitesmoke;
}
a:hover {
    color: #f5f5f59e;

}
.main {
    display: flex;
    flex-direction: column;
}
.main-first {
    display: flex;
    justify-content: space-between;
    padding: 5rem 15rem 7rem 15rem;
    background-color: #1F2937;
    gap: 2rem;
}
.first-left {
    color: whitesmoke;
}
.first-left p {
    color: #f5f5f5ca;
}
h1 {
    font-size: 4rem;
}
.first-button {
    margin-top: 1rem;
    padding: .5rem 1.5rem;
    color: whitesmoke;
    background-color: #3882F6;
    border: none;
    font-weight: 900;
    border-radius: .5rem;
}
.first-button:hover, .fourth-button:hover {
    color: #f5f5f5cc;
    background-color: #3881f6a4;
}
.first-image {
    width: 100%;
    height: 273px;
}
.main-second{
    display: flex;
    flex-direction: column;
    padding: 3rem 20rem 7rem 20rem;
}
.second-header {
    font-weight: 900;
    font-size: 2rem;
    align-self: center;
}
.second-cards {
    margin-top: 3rem;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
}
.second-images {
    width: 100%;
    border: solid #3881f68b 4px;
    border-radius: 1rem;
    margin-bottom: .5rem;
}
.main-third {
    display: flex;
    flex-direction: column;
    padding: 5rem 20rem 7rem 20rem;
    background-color: #8080802c;
    font-size: 2rem;
    font-style: italic;
    font-weight: 300;
    gap: 1rem; 
}
.third-citation {
    align-self: flex-end;
    font-weight: 900;
    font-size: 1.5rem;
    font-style: normal;
}
.main-fourth {
    display: flex;
    flex-direction: column;
    padding: 7rem 15rem 7rem 15rem;
}
.fourth-box {
    background-color: #3882F6;
    border-radius: 1rem;
    padding: 4rem 10rem;
    display: flex;
    justify-content: space-between;
    gap: 5rem;
}
.fourth-left {
    color: whitesmoke;
    font-size: 1.5rem;
}
.fourth-head {
    font-weight: 900;
    font-size: 3rem;
}
.fourth-left p {
    margin-top: 1rem;
}
.fourth-right {
    display: flex;
    align-items: center;
}
.fourth-button {
    padding: .5rem 2rem;
    border: whitesmoke 5px solid;
    background-color: #3882F6;
    color: whitesmoke;
    border-radius: 1rem;
    font-weight: 900;
    font-size: 2rem;
}